* {
  box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    background-color: #1c2131;
}

body {
    width: 50vw;
    margin: 10vw auto;
    text-align: center;
    background-color: white;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  display: inline;
}

a {
  text-decoration: none;
}

button {
  width: 40vw;
  height: 10vw;
  background-color: transparent;
  border: 1px solid black;
  font-size: 2vw;
}